body {
  margin: 0;
  padding: 0;
}

.containerColumn {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.containerRow {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

div {
  color: pink;
  padding: 10px;
}
